body{
	font-family: sans-serif;
	background:gold;
	margin: 0 1em 1em 1em;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Auto-placement_in_CSS_Grid_Layout*/
.wrapper{
	display: grid;   
	grid-template-columns: 1fr;   
	grid-gap:1em;
}


a .box{
    background: cadetblue;
}
.box{
	border:0.75px solid;
	border-radius: 5px;
	text-align: center;
}
.box a, .goto a {
	display: block;
	text-decoration: none;
	color:white;
	background-color: #666;
	padding:.5em;
	text-align: center;
}
.box img{
	height:5em;
	height:5em;
}
.box p{
	margin-top:.3em;
}
nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 2em;
	background-color: #666;
}
nav a {
	text-decoration: none;
	color:white;
	padding:.5em 2em;
	text-align: center;
}
nav a:hover, 
.box a:hover, .box a:active, 
.goto a:hover, .goto a:active {
	color:yellow;
	background-color: #333;
}
a {
	color:#333;
}
h1, h2, h3, h5, ul{
	text-align: center;
}
li{
    margin: 1em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #bbb;
    text-align: left;
    padding: 8px;
    width: 50%;
}
tr:nth-child(even) {
    background-color: #ddd;
}
header,
footer {
    margin-bottom:2em;
    background: darkgoldenrod;
}

@media screen and (min-width:37.5em) {
	body{
		max-width: 48em;
		margin: 0 auto;
	}
	.wrapper{
		display: grid;   
		grid-template-columns: 1fr 1fr;   
		grid-gap:1em;
	}
}